<!-- 
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="scripts/DatabindingScript.js"></script>
    
</head>
<body ng-app="myModule">
    <div ng-controller="myController">
   Your Message:<input type="text" placeholder="Type your message here" ng-model="message"></input>
    </br></br>
        {{message}}
    </div>
</body>
</html> -->


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="scripts/DatabindingScript.js"></script>
    
</head>
<body ng-app="myModule">
    <div ng-controller="myController">
   		<table>
   		<tr>
   			<td>
   				FirstName
   			</td>
   			<td>
   				<input type="text" placeholder="Your FirstName" ng-model="employee.firstName">
   			</td>
   		</tr>
   		<tr>
   			<td>
   				LastName
   			</td>
   			<td>
   				<input type="text" placeholder="Your LastName" ng-model="employee.lastName">
   			</td>
   		</tr>
   		<tr>
   			<td>
   				Gender
   			</td>
   			<td>
   				<input type="text" placeholder="Your Gender" ng-model="employee.gender">
   			</td>
   		</tr>
   		</br></br>
   		<tr>
   			<td>
   				FirstName
   			</td>
   			<td>
   				{{employee.firstName}}
   			</td>
   		</tr>
   		<tr>
   			<td>
   				LastName
   			</td>
   			<td>
   				{{employee.lastName}}
   			</td>
   		</tr>
   		<tr>
   			<td>
   				Gender
   			</td>
   			<td>
   				{{employee.gender}}
   			</td>
   		</tr>

   		</table>
    </div>
</body>
</html>